body {
  background-color: #f0f3f4;
}

.main {
  min-width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.color-name {
  position: absolute;
  left: 85px;
  top: 110px;
  color: #f1f1f1;
  font-size: 24px;
}
.img {
  max-height: 300px;
}
.color {
  /* background-color: yellowgreen; */
  height: 250px;
  width: 250px;
  border-radius: 10px;
}
